<IfModule mod_rewrite.c>

RewriteEngine On

ErrorDocument 404 http://localhost/MastePHP/proyecto-php-poo/error/

RewriteCond %{SCRIPT_FILENAME} !-d

RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^/?([a-zA-Z]+)/([a-zA-Z]+)/?([0-9]+)? index.php?controller=$1&action=$2&id=$3

</IfModule>