<IfModule mod_rewrite.c>

RewriteEngine On

ErrorDocument 404 http://localhost/MastePHP/proyecto-php-poo/

RewriteCond %{SCRIPT_FILENAME} !-d

RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^/?([a-zA-Z]+)/([a-zA-Z]+) index.php?controller=$1&action=$2

</IfModule>